<div class="off-canvas-wrap">
<div class="inner-wrap">
  <div class="fixed">
    <nav class="tab-bar show-for-small-only">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href
           ng-click="toggle_menu()">
          <span></span>
        </a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">Orienteer.io</h1>
      </section>
    </nav>

    <nav data-topbar role="navigation" class="top-bar row hide-for-small-only"
  ng-controller="NavbarCtrl">
  <ul class="title-area">
    <li class="name">
    <h1><a href="http://orienteer.io/">Orienteer.io</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
  <ul class="right">
    <li ng-repeat="s in top_level_states"
    ng-class="{ active : (state.current.name===s.state) }"><a
    ui-sref="{{ s.state }}">{{s.name}}</a></li>
  </ul>
  </section>
  </nav>
  </div>
  <aside class="left-off-canvas-menu">
    <div class="fixed">
  <ul class="off-canvas-list">
    <li><label>Settings</label></li>
    <li ng-repeat="s in top_level_states"
    ng-class="{ active : (state.current.name===s.state) }"><a
    ui-sref="{{ s.state }}" ng-click="toggle_menu()">{{s.name}}</a></li>
  </ul>
  </div>
  </aside>

  <div class="main-container">
    <div class="error-ctrl"  ng-controller="ErrorCtrl" ng-include="'components/error/error.html'">
    </div>
    <div ng-if="!error.fullPageError">
      <div ui-view />
    </div>
  </div>

  <div id="help-modal" class="reveal-modal" data-reveal>
    <h3>Orienteer Help</h3>
    <a class="close-reveal-modal">&#215;</a>
    <div class="no-intro">
      <ng-include src="help_url"></ng-include>
    </div>
  </div>

</div>
</div>
