<div class="row">
  <div class="large-4 columns">
    <div class="card">
      <div class="item item-avatar">
        <img src="{{ course.creator.person.avatar }}" />
        <h2>{{ course.name }}</h2>
        <p>{{ course.creator.person.name }}</p>
      </div>
    </div>
    <button ng-if="editable" class="button expand" ng-click="edit()">Edit</button>
    <button class="button expand" ng-click="print()">Print using CalTopo</button>
  </div>
  <div class="large-4 columns">
        <leaflet class="full-image"
                 markers="checkpoints"
                 bounds="bounds"
                 center="center"
                 width="100%"
                 layers="layers"
                 height="400px">
        </leaflet>
  </div>

  <div class="large-4 columns">
    <h3>Leaderboard</h3>
    <div ng-include src="'components/leaderboard/partial.html'"></div>
  </div>
  <form class="printit" target="_blank" action="http://caltopo.com/print" method="POST">
    <input type="hidden" name="state">
  </form>
</div>
