<div class="row">
  <div class="large-4 columns">
    <div class="card">
      <div class="item item-avatar">
        <img ng-src="{{ course.creator.person.avatar }}" />
        <h2>{{ course.name }}</h2>
        <a  ui-sref="logged-in.profile({ id : course.creator.id })">
          <h5 class="subheader">{{ course.creator.person.name }}</h5>
        </a>
        <span ng-if="!(course.public)">(this course is not public)</span>
      </div>
    </div>
    <button ng-if="editable" class="button expand secondary"
            ng-click="edit()">Edit</button>
    <div class="row">
      <div class="small-6 columns"><a class="button small expand" ng-click="print()">Print using
    CalTopo</a></div>
    <div class="small-6 columns"><a class="button small expand"
    ng-click="run()">Run</a></div>
    </div>
    <a class="help" ng-click="help('course_show');">Help me!</a>
  </div>
  <div class="large-4 columns">
    <leaflet class="full-image"
             defaults="defaults"
                 markers="checkpoints"
                 bounds="bounds"
                 center="center"
                 width="100%"
             layers="layers"
             scalecontrol
                 height="400px">
        </leaflet>
  </div>

  <div class="large-4 columns">
    <h3>Leaderboard</h3>
    <div ng-include src="'components/leaderboard/partial.html'"></div>
  </div>
  <form class="printit" target="_blank" action="http://caltopo.com/print" method="POST">
    <input type="hidden" name="state">
  </form>
</div>
