$course-edit-controls-width: 220px;

.course-edit 
{
  @include split_view_parent;
  
  .controls
  {
    @include scrolls-y;
    @include split_view_left($course-edit-controls-width);
  }
  .map {
    @include split_view_right($course-edit-controls-width);
  }   
}
    
.course-list {
  .item {
    display: block;
    
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 4em;
    padding-left: 55px;

    h2 { font-size: 1em; }

    img {
      position: absolute;
      display: block;
      left: 0px;
      top: 0px;
      height: 48px;
      width: 48px;

      @include rounded(15px);
    }
  }
}

.course.card {
  position: relative;
  padding-left: 90px;
  img {
    @include avatar;  
    width: 70px;
    height: 70px;
    position: absolute;
    top: 10px;
    left: 5px;
  }
}
