passport {
  .fixed {
    margin-top: 45px;
  }
}

.checkpoints {
  padding-top: 4em;
  text-align: center;

  overflow: none;
  @media #{ $large-up } {
    width: upper-bound($medium-range);
    margin: auto;
  }
      
}

checkpoint {
  text-align: left;
  padding-left: 35px;
  position: relative;
  display: inline-block;
  float: center;
  background-color: $stable;
  height: 45px;
  overflow: hidden;
  border: $dark 1px solid;

  width: 48%;
  margin: 0px 2px;
  @media #{ $medium-up } {
    width: 30%;
  }

  @media #{ $large-up } {
    width: 22%;
  }
      
}

div.checkpoints {
  clear: both;
}

checkpoint.visited {
  background-color: $balanced;
}

checkpoint i {
  display: inline-block;
  position: absolute;
  font-size: 200%;
  top: -2px;
  left: 4px;
}

div p {
  padding-top: 0.7em;
  line-height: 100%;
}

.locating {
  padding-top: 4em;
  text-align: center;
  i {
    font-size: 6em;
  }
  h5 {
    color: #666;
  }
}
