$social-button-border: 1px solid rgba(0,0,0,0.2);
$facebook-color: #3b5998;
$facebook-color-active: #2d4373;

.button-facebook {
  &:before {
    display: block;
    width: 1.2em;
    left: 0px;
    top: 0px;
    bottom: 0px;
    text-align: middle;
    content: "\f231";
    font-size: 200%;  
              
    border-right: $social-button-border;
    position: absolute;
    padding-top: 8px;

    @include ionicon;
  }
  position: relative;
  border: $social-button-border;
  @include rounded(4px);  
            
  color: #fff;
  background-color: $facebook-color;

  &:hover {
    color: #fff;
    background-color: $facebook-color-active;
    border-color: $social-button-border;
  }     
}